body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

.container {
	display: grid;
	max-width: 900px;
	min-height: 50vh;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas: "header" "nav" "main" "footer";
}

header {
	grid-area: header;
	text-align: center;
}

header img {
	margin: 16px;
	width: 64px;
	height: auto;
}

header img:hover {
	transform: scale(1.1); 
	transition: ease-in-out 0.5s;
}

nav {
	grid-area: nav;
	background-color: #3A6145;
	padding: 8px 0;
}

nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

nav li {
	display: inline-flex;
	margin: 0 16px;
}

nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

nav a:hover, nav a:active {
	text-shadow: lightgreen 0 0 5px;
}

nav a:active {
	color:#3A6145;	
}

main {
	grid-area: main;
}

section {
	background-color: #fff;
	margin: 16px auto;
	padding: 16px;
	max-width: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#home {
	background-image: url('assets/cover.493Z.png');
	background-size: cover;
	background-position: center;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: black 5px 5px 10px;
}

#home h2 {
	color: white;
	font-weight: bolder;
	text-shadow: black 5px 5px 10px;
}

h2, h3 {
	text-align: center;
}

section h2 {
	color: #3A6145;
}

section h3 {
	color: darkred;
}

.product-list {
	display: flex;
	gap: 16px;
}

section article {
	border: 1px solid #3A6145;
	border-radius: 16px;
	padding: 16px;
	margin-bottom: 16px;
	text-align: center;
}

article:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transform: scale(1.05);
	transition: ease-in-out 0.3s;
}

article p {
	margin: 0;
	padding: 0 0 12px 0;
}

article img {
	width: 50%;
	height: auto;
	margin: 24px 0;
}

footer {
	grid-area: footer;
	display: flex;
	gap: 16px;
	justify-content: center;
	text-align: center;
	background-color: #3A6145;
	color: #fff;
	padding: 16px 0;
}

footer img {
	width: auto;
	height: 64px;
}

@media (max-width: 600px) {
	nav li {
		margin: 0 8px;
	}

	#home p {
		font-size: small;
	}

	.product-list {
		display: block;
	}
}
